section.mission {
  padding: 40px 0;

  .grid {
    margin: 0 auto;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .grid-sizer, .grid-item {
    width: 40%;
  }

  .grid-item--width2 {
    width: 60%;
  }

  .grid-item {
    float: left;
    background-color: black;
    border-radius: 1px solid white;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      display: none;
      content: '';
      width: 1px;
      height: 75%;
      position: absolute;
      left: -15px;
      top: 12.5%;
      background-color: $light-grey;
    }
  }

  @include md {

    .content {

      &::before {
        display: block;
      }
    }
  }
}

section.contact {
  padding: 40px 0;

  .wpcf7-list-item  {
    margin-right: 15px;
  }

  .wpcf7-list-item-label {
    margin-left: 5px;
  }

  .intro {
    color: $orange;
    font-family: $font-family-headings;
  }

  ul {
    font-family: $font-family-headings;
  }

  form {

    label {
      color: $blue;
      font-family: $font-family-headings;
      font-weight: $font-weight-bold;
    }
  }
}

section.grants {
  padding: 40px 0;
  // intro section
  .intro {
    display: block;
    text-align: left;
    max-width: 850px;
    margin: auto;
  }

  h1 {
    text-align: left;
  }

  //each grant
  .award {
    text-align: center;

    span {
      color: $blue;
      text-decoration: underline;
    }
  }

  .intro-wrap {
    margin-bottom: 40px;
  }

  img {
    display: block;
    margin: auto;
  }

  .name-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 35px;
  }

  .beg-grant {
    position: relative;
    padding-top: 10px;
  }

  .numero-uno {

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $grey;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .end-grant {
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $grey;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @include md {

    .intro {
      text-align: center;
    }

    h1 {
      text-align: center;
    }

    img {
      margin: inherit;
    }

    .name-wrap {
      align-items: flex-end;
    }
  }
}
