header {
  position: relative;
  height: 100px;
    .main-header {
      font-size: 60px;
      margin: 0;
      text-transform: uppercase;
      color: $green;
    }
    .logo {
        display: inline-block;
        // width: 120px;
        position: absolute;
        top: calc(50% - 48.5px);
        left: 15px;
        z-index: 3;

        img {
          max-width: 160px;
        }

        .sub-heading {
          font-size: 10px;
          font-style: italic;
        }
    }
    .menu {
      list-style-type: none;
      li {
        display: inline-block;
        a {
          font-family: $font-family-headings;
          text-transform: uppercase;
          color: $black;
          font-size: 15px;
        }
      }
    }
    .social-links {
      position: absolute;
      left: calc(50% - 48.1px);
      top: calc(50% - 18.5px);
      z-index: 10;
      i {

        &:first-child {
          margin-right: 15px;
        }
        font-size: 35px;
      }
    }
    @include lg {
      .social-links {
        left: 80%;
        top: 10%;
      }

      .logo {
        top: calc(50% - 59.5px);

        img {
          max-width: 200px;
        }
      }
    }

    @media (max-width: 480px) {
      .social-links {
        display: none;
      }
    }
}
nav.search {
  display: none;
  position: absolute;
  top: 0;
  right: -100px;
  width: 200px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.5s, right $snappy 0.5s;
  .form-control {
    height: 30px;
    padding-left: 20px;
  }
}
html.search-active nav.search {
  display: block;
  opacity: 1;
  right: 0;
}
html.search-active nav.secondary .menu {
  right: 200px;
}
html.search-active nav.secondary .search-toggle {
  right: 180px;
}
nav.secondary {
    display: none;
    height: 30px;
    background-color: $light-grey;
    padding-right: 90px;
    .menu {
      position: absolute;
      right: 90px;
      transition: right $snappy 0.5s;
      li {
        position: relative;
        margin-right: 10px;

        &:hover {
          // .sub-menu {
          //   display: block;
          // }
        }

        a {
          color: $green;
        }
      }
    }
    .search-toggle {
      display: none;
      position: absolute;
      right: 70px;
      z-index: 10;
      transition: right $snappy 0.5s;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
      @include md {
        display: block;
      }
    }

    .sub-menu {
      display: none;
      position: absolute;
      top: calc(100% + 6px);
      left: -25px;
      width: 250px;
      z-index: 5;
      text-align: center;
      color: $black;
      background-color: $dark-grey;
      padding: 10px 40px 20px 40px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        left: calc(50% - 5px);
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-right-width: 10px;
        border-left-width: 10px;
        border-bottom: 10px solid $dark-grey;
      }

      li {
        display: block;
        padding: 0 !important;
        padding-bottom: 10px !important;
        a {
          font-weight: $font-weight-bold;
        }
      }
    }
}

nav.primary {
  display: none;
  height: 130px;
  position: relative;
  padding-right: 90px;
  .primary-nav-wrap {
     width: 100%;
     height: 130px;
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
  }
  .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -25px;
    width: 250px;
    z-index: 5;
    background-color: $white;
    padding: 0px 40px 20px 40px;
    li {
      display: block;
      padding: 0 !important;
      padding-bottom: 10px !important;
      a {
        font-weight: $font-weight-bold;
      }
    }
  }
  .sub-menu li > .sub-menu {
    position: relative;
    width: auto;
    padding: 10px 0 0 25px;
    li {
      a {
        font-weight: $font-weight-regular;
      }
    }
  }
    .menu {
      li:last-child {
        margin-right: 0;
      }
        li {
          position: relative;
          padding: 20px 5px;
          &:hover {
            .sub-menu {
              display: block;
            }
          }
        }
    }

    @include lg {
      .menu li {
        padding: 20px 10px;
      }
    }
}
nav.mobile {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 5;
  transition: height $snappy 0.4s, opacity 0.4s;
  background-color: $black;
  .mobile-track {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    background-color: $black;
    left: 0;
    transition: left $snappy 0.4s;

    #menu-primary-1 {
      display: block !important;
    }

    .menu {
      display: none;
    }
  }
  .mobile-track ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    li {
      display: block;
      padding: 10px 0 10px 30px;
      border-bottom: 1px inset $grey;
      .show-submenu {
        float: right;
        padding: 0 30px;
        margin-top: -11px;
        border-left: 1px inset $light-grey;
        font-size: 30px;
        color: $grey;
        z-index: 5;
        &:hover {
          cursor: pointer;
        }
      }
    }
    a {
      color: $white;
    }
    .sub-menu {
      width: 100%;
      display: none;
      &.active {
        display: block;
      }
    }
    li > ul {
      position: absolute;
      top: 0;
      left: 100%;
    }
    li > ul > ul {
      position: absolute;
      top: 0;
      left: 200%;
    }
  }
  .mobile-track > ul {
    position: relative;
  }
}
html.mobile-nav-active .mobile {
  opacity: 1;
  height: calc(100vh - 100px);
}
.mobile-nav-toggle {
  display: block;
  position: absolute;
  top: calc(50% - 30px);
  right: 30px;
  z-index: 3;
  font-size: 40px;
}
@media (min-width: 1100px) {
  header {
    height: auto;
    .logo {
      left: 15px;
    }
  }
  nav.primary {
    display: block;
  }
  nav.mobile {
    display: none;
  }
  nav.secondary {
    display: block;
  }
  .mobile-nav-toggle {
    display: none;
  }
}
// @include lg {
  // header .logo {
  //   left: 90px;
  // }
  @media (min-width: 1200px) {
    header .logo {
      left: 90px;
    }
  }
// }
