a,
a:hover,
a:active,
a:focus {
    transition: color 0.25s;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: $black;
}

p {
    a,
    a:hover,
    a:active,
    a:focus {
        text-decoration: underline;
    }
}

hr {
    margin: 0 0 1.25rem;
    border-top: none;
    border-bottom: 1px solid $grey;
}

.button {
    font-weight: $font-weight-bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

.btn {
    margin-bottom: 4px;
    @extend .button;
}

.btn-primary {
    &:hover,
    &:focus,
    &:active {
        color: $white;
    }
}

.btn-outline {
    border-color: $black !important;
    background-color: $white;
    color: $black;

    &:hover,
    &:focus,
    &:active {
        background-color: $black;
        color: $white;
    }
}

.btn-sm {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-family: $font-family-headings;
    text-transform: uppercase;

    a {
        color: inherit;

        &:hover,
        &:focus,
        &:active {
            color: inherit;
        }
    }
}

h1, .h1 {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 36px;
    color: $orange;
    text-align: center;
}

h2, .h2 {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 26px;
    color: $orange;
    text-align: center;
}

h3, .h3 {
    font-weight: $font-weight-bold;
    font-size: 26px;
    color: $orange;
}

h4, .h4 {
    font-weight: $font-weight-bold;
    font-size: 26px;
    color: $orange;
}

h5, .h5 {
    font-weight: $font-weight-bold;
    font-size: 26px;
    color: $orange;
}

h6, .h6 {
    text-transform: uppercase;
    font-weight: $font-weight-regular;
    font-size: 20px;
    color: $orange;
}

cite,
.cite {
    text-transform: uppercase;
    font-weight: $font-weight-regular;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}

.intro {
  font-size: 24px;
}

.intro-lg {
  font-size: 40px;
}

.small {
    font-weight: $font-weight-regular;
    font-size: 14px;
    line-height: 16px;
}

.label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $font-weight-bold;
    font-size: 14px;
    line-height: 22px;
    color: $black;
}

.caption {
    font-weight: $font-weight-regular;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
}

.wp-caption {
    max-width: 100%;
}

.wp-caption-text {
    @extend .caption;
    margin-top: 1rem;
}

.title {
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $black;
}

blockquote,
.blockquote {
    font-weight: $font-weight-regular;
    font-style: italic;
    font-size: 22px;
    line-height: 28px;
    color: $black;

    p {
        text-indent: -0.5rem;

        a {
            text-decoration: none;
        }
    }
}

@include lg {
    body {
        font-size: 1.125rem;
    }

    h1, .h1 {
        font-size: 50px;
    }

    h2, .h2 {
        font-size: 40px;
    }

    h3, .h3 {
        font-size: 35px;
    }

    h4, .h4 {
        font-size: 30px;
    }

    h5, .h5 {
        font-size: 20px;
    }

    h6, .h6 {
        font-size: 15px;
    }

    .intro-lg {
        font-size: 50px;
    }

    .title {
        font-size: 33px;
    }

    blockquote,
    .blockquote {
        font-size: 26px;
    }
}
