// Colors
$white:             #FFFFFF;
$light-grey:        #EBEBEB;
$grey:              #808285;
$dark-grey:         #3D3E42;
$black:             #333333;

$orange:            #B35639;
$blue:              #2B3990;
$red:               #8C3636;

// Fonts
$font-weight-regular:   400;
$font-weight-bold:      700;

$font-family-headings: 'Roboto Slab', serif;
$font-family-body: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

// Transitions
$snappy: cubic-bezier(0.42, 0, 0.05, 0.99);

// Bootstrap Overrides
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$line-height-base:      1.5;
$body-color:            $black;
$enable-rounded:        false;
$brand-primary:         $orange;

$btn-padding-x:         20px;
$btn-padding-y:         10px;
